aiodns==3.0.0
aiofiles==23.1.0
aioflask==0.4.0
aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
bidict==0.22.1
bingX-connector==0.0.7
blinker==1.6.2
ccxt==4.0.33
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.5
cryptography==41.0.2
dnspython==2.3.0
ejtraderCT==1.1.13
eventlet==0.33.3
Flask==2.3.2
Flask-Cors==4.0.0
Flask-Executor==1.0.0
Flask-PyMongo==2.3.0
Flask-SocketIO==5.3.4
frozenlist==1.4.0
greenlet==2.0.2
greenletio==0.10.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.4
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
motor==3.2.0
multidict==6.0.4
netifaces==0.11.0
priority==2.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycares==4.3.0
pycparser==2.21
pymongo==4.4.1
pyOpenSSL==23.2.0
python-dotenv==1.0.0
python-engineio==4.5.1
python-socketio==5.8.0
requests==2.31.0
service-identity==23.1.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.7.1
urllib3==1.26.15
uvicorn==0.23.1
waitress==2.1.2
Werkzeug==2.3.6
wsproto==1.2.0
yarl==1.9.2
zipp==3.16.2
